/* layout */

.service__container  {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    background: rgb(233, 238, 243);
    scroll-behavior: smooth;
}

.service {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.service {
    display: grid;  
    grid-template-rows: repeat(3, 250px);
}

form {
    grid-column: 2 / 3;
}

/* service__boxes */

.box {
    background: rgb(194, 192, 192);
    padding: 1em;
    margin: 15px 4em;
}

.box :is(h3, p) {
    padding: 10px;
    margin: 10px 0px;
    text-align: left;
}



/* form */

form {
    background: rgb(128, 128, 128);
    padding: 1em;
    color: aliceblue;

    margin: 1em;
}